<% if(!cart_item.nil?) %>
  <div class="item">
    <% if(!cart_item.name.empty?) then %>
      <p><%= link_to cart_item.name, item_path(:item => cart_item.name) %></p>
    <% end %>
    <% if(!cart_item.image.nil?) then %>
      <%= image_tag(cart_item.image) %>
    <% end %>
    <% if(!cart_item.description.nil?) then %>
      <p><%= cart_item.description %></p>
    <% end %>
    <% if(!cart_item.price.nil?) then %>
      <p><%= cart_item.price.floor.to_s + " gold" %></p>
    <% end %>
    <% if(cart_item.percentage_off != 0 && !cart_item.percentage_off.nil?) then %>
      <p><%= cart_item.percentage_off.floor.to_s + "% Off" %></p>
      <p><%= (cart_item.price - (cart_item.percentage_off * cart_item.price * 0.01)).floor.to_s + " gold" %></p>
    <% end %>
    <%= form_tag(remove_item_from_cart_path) do %>
      <%= hidden_field_tag 'item', cart_item.id %>
      <%= submit_tag 'Remove from Cart', :name => nil %>
    <% end %>
  </div>
<% end %>
