<div class="item col-md-4">
  <% if(!item.name.empty?) then %>
    <div class="title"><%= link_to item.name, item_path(:item => item.name) %></div>
  <% end %>
  <% if(item.icon.exists?) then %>
    <%= image_tag item.icon.url, :class => "icon" %>
  <% end %>
  <% if(!item.description.nil?) then %>
    <p><%= item.description %></p>
  <% end %>
  <% if(item.percentage_off != 0 && !item.percentage_off.nil?) then %>
    <p><span class="strike"><%= item.price.floor.to_s + " gold" %></span>
    <%= " - "+item.percentage_off.floor.to_s + "% = " %>
    <%= (item.price - (item.percentage_off * item.price * 0.01)).floor.to_s + " gold" %></p>
  <% else %>
    <p><%= item.price.floor.to_s + " gold" %></p>
  <% end %>
</div>
