<!DOCTYPE html>
<html>
  <head>
    <title>Ye Olde Item Shope</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>Ye Olde Item Shope</h1>
    <!--Probably login-->
    <div class="nav">
      <%= link_to "Home", front_page_path%>
      <!--Link to all user pages-->
      <!--also put the search here-->
    </div>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p>Pls no steal</p>
    <!--Link to admin, about and contact-->
    <%= link_to "About", other_path(:page => "About") %>
    <%= link_to "Contact", other_path(:page => "Contact") %>
    <%= link_to 'Admin', admin_dashboard_path %>
  </footer>
</html>
